  
  * {
    box-sizing: border-box;
  }
  
  .container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
  
  body{
    margin: 0;
    gap: 30px;
}

header .logo{
    background-color:aqua;
    width: 15%;
}

header .desk-menu{
    background-color: bisque;
    width: 15%;
}
header .button{
    background-color: brown;
    width: 15%;
}

/* .header{
    width: 1370px;
    height: 70px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}

.header-list{
    color: aquamarine;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 30px;
    width: 1100px;
    height: 40px;
    background-color: blue;
    display: flex;
   list-style: none;
   gap:15px
   

   
   
   
}

.header-button{
    background-color: rebeccapurple;
    width: 250px;
    height: 45px;
    border-radius: 20px;
    margin-top: 10px;
    color: aquamarine;
}

.header-name{
    font-size: 35px;
 margin-top: 10px;
}
 */

.left-side{
    background-color:darkgoldenrod;
    width: 350px;
    height: 1000px;
    margin-top: 10px;
    
}


.right-side{
    background-color:gray;
    height: 1000px;
    width: 1300px;
    margin-top: 10px;
   

}

.right-left{
    display: flex;
    gap: 20px;
}

.Left-image{
margin-top: 30px;
margin-left: 50px;

    
}

@media screen and (max-width: 600px) {
    .header{
        display: block;
        flex-wrap: wrap;
    }
    .header-list{
        display: block;
        background-color: blue;
        width: 200px;
        height: 200px;
    }
    .header-button{
        display: block;
        margin-top: 20px;
    }
    body {
      background-color: lightblue;
    }
  }